.container-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin: 2rem;
}

.subtitle-principal {
  color: rgb(27, 36, 48);
  font-size: 2.8rem;
  text-align: center;
}

.container-subtitle {
  padding: 1rem 0;
}


@media screen and (min-width: 750px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 1024px) {
 .container-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}