.main-header {
  position: fixed;
  background: rgb(27, 36, 48);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top:0;
  padding: .5rem 3rem;
  width: 100%;
  height: 5rem;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
}

.container-login {
  margin: 0 4rem;
}


.header-title, .number-card {
  color: white;
}


.cart {
  position: relative;
}

.cart-shopping {
  position: relative;
  font-size: 2.5rem;
  color: white;
}

.number-card {
  position: absolute;
  top: .1rem;
  left: 1.3rem;
  font-size: 1.2rem;
  color: rgb(27, 36, 48);
}

.toogle {
  display: none;
}

.header-second-title {
  display: none;
}


@media screen and (max-width: 850px) {
  .main-header {
    grid-template-columns: 1fr max-content max-content;
  } 

  .header-title {
    font-size: 2rem;
  }
  .container-login {
    display: none;
  }

  .toogle {
    display: block;
    width: 1.9rem;
    height: 1.4rem;
    background: linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%,white 100%);
    cursor: pointer;
  }

  .cart {
    margin: 0 4rem;
  }

  .header-primary-title {
    display: none;
  }

  .header-second-title {
    display: block;
  }
}
