.main-header {
  position: fixed;
  background: rgb(27, 36, 48);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top:0;
  padding: 1rem ;
  width: 100%;
  height: 5rem;

}

@media screen and (min-width: 750px) {
  .main-header {
  padding: 1rem 3rem;
  } 
}
