.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #f1eeee;
  height: 3rem;
  

}

.c-food, .c-drinks {
  border: 1px solid rgb(212, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  cursor: pointer;
  height: 100%;
}